*.iml
*.ipr
*.iws
.idea/
*.log
*.log.zip
*.log.*.gz
logs/
target/
.DS_Store
.mvn
http-proxy-servlet-example-https/.mvn
http-proxy-servlet-example-http/.mvn
package-lock.json
node_modules/
*.versionsBackup
application-local.yml
*.iml
